<!DOCTYPE html>
<meta charset="utf-8">

<style>
body {
  font: 12px sans-serif;
}
.y.axisRight text {
    fill: darkorange;
}
.y.axisLeft text {
    fill: black;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar1 {
  fill: darkgreen;
}
.bar2 {
  fill: darkorange;
}
.x.axis path {
  display: none;
}
</style>

<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var margin = {top: 120, right: 100, bottom: 120, left: 100},
    width = 10000 - margin.left - margin.right,
    height = 1000 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y0 = d3.scale.linear().domain([40, 100]).range([height, 0]),
    y1 = d3.scale.linear().domain([40, 100]).range([height, 0]);

// create x axis
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

// create left yAxis
var yAxisLeft = d3.svg.axis().scale(y0).ticks(6).orient("left");

// create right yAxis
var yAxisRight = d3.svg.axis().scale(y1).ticks(6).orient("right");

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("class", "graph")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.tsv("charity-score.tsv", type, function(error, data) {
  x.domain(data.map(function(d) { return d.charity; }));
  y0.domain([40, d3.max(data, function(d) { return d.cn_score; })]);
  y1.domain([40, d3.max(data, function(d) { return d.fp_score; })]);
  
  // draw x axis
  // svg.append("g")
  //   .attr("class", "x axis")
  //   .attr("transform", "translate(0," + height + ")")
  //   .call(xAxis);
  
  // draw left y axis
  svg.append("g")
      .attr("class", "y axis axisLeft")
      .attr("transform", "translate(0,0)")
      .call(yAxisLeft)
    .append("text")
      .attr("y", 6)
      .attr("dy", "-2em")
      .style("text-anchor", "end")
      .style("text-anchor", "beginning")
      .text("Score");

  // draw right y axis
  // svg.append("g")
  //     .attr("class", "y axis axisRight")
  //     .attr("transform", "translate(" + (width) + ", 0)")
  //     .call(yAxisRight)
  //   .append("text")
  //     .attr("y", 6)
  //     .attr("dy", "-2em")
  //     .attr("dx", "2em")
  //     .style("text-anchor", "middle")
  //     .text("Fight Poverty Score");

  bars = svg.selectAll(".bar").data(data).enter();

  bars.append("rect")
    .attr("class", "bar1")
    .attr("x", function(d) { return x(d.charity); })
    .attr("width", x.rangeBand()/2)
    .attr("y", function(d) { return y0(d.cn_score); })
	    .attr("height", function(d,i,j) { return height - y0(d.cn_score); }); 
  
  bars.append("rect")
    .attr("class", "bar2")
    .attr("x", function(d) { return x(d.charity) + x.rangeBand()/2; })
    .attr("width", x.rangeBand()/2)
    .attr("y", function(d) { return y1(d.fp_score); })
	    .attr("height", function(d,i,j) { return height - y1(d.fp_score); }); 
});

function type(d) {
  d.cn_score = +d.cn_score;
  return d;
}
</script>
</body>
