/* http://bl.ocks.org/weiglemc/6185069 */
  
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.tooltip {
    position: absolute;
    width: 225px;
    height: 95px;
    z-index: 100;
    pointer-events: none;
    background: black;
    color: white;

}